.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: 1px solid #fc0000;
}

.profile {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: #f5f5f5;
    border: 1px solid #cfc5c565;
    box-shadow: 0 0 10px #cfc5c565;
    margin-bottom: 5px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

.profile-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: 1px solid #cfc5c565;
    box-shadow: 0 0 10px #cfc5c565;
}
.profile-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fc0000;
    margin-left: 10px;
}

.profile-card p {
    font-size: 0.7rem;
    font-weight: 400;
    color: #000000;
    margin-left: 10px;
    font-family: sans-serif;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: #f5f5f5;
    border: 1px solid #cfc5c565;
    box-shadow: 0 0 10px #cfc5c565;
}

.post img {
    width: 100%;
    height: 400px;
    object-fit: fill;
}

.post p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
    margin: 10px;
    font-family: sans-serif;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: #f5f5f5;
    border: 1px solid #cfc5c565;
    box-shadow: 0 0 10px #cfc5c565;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #cfc5c565;
    box-shadow: 0 0 10px #cfc5c565;
}

.button button {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #573232;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

.button button:hover {
    background-color: #fc0000;
}

.comment-container {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: #f5f5f5;
    border: 1px solid #cfc5c565;
    box-shadow: 0 0 10px #cfc5c565;
    font-family: sans-serif;
}